---
import { FaExternalLinkAlt } from "react-icons/fa";
import type { IContent } from "./FooterSection.astro";

interface IProps {
  contentItem: IContent;
}

const { contentItem } = Astro.props as IProps
---

<div class="text-sm">
  <a 
    class="inline-flex items-center gap-2"
    target="_blank" 
    href={contentItem.value}
  >
    <FaExternalLinkAlt size={12} />
    <span>{contentItem.label}</span> 
  </a>  
</div>

