<div>
  <p class="mt-2 text-xs text-gray-500 text-center">
    This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer" class="underline mx-1">Privacy&nbsp;Policy</a>
    and
    <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer" class="underline mx-1">Terms&nbsp;of&nbsp;Service</a>
    apply.
  </p>
</div>