---
import Team from '@/components/Team.astro'
import team, { ETeamMemberType } from '@/assets/team'
import Layout from '@/layouts/Layout.astro'
import SEOMeta from '@/components/meta-data-helpers/SEOMeta.astro';
import TopPageBanner from '@/components/TopPageBanner.astro'

const management = team.filter(item => item.type === ETeamMemberType.management)
const busdev = team.filter(item => item.type === ETeamMemberType.busdev)
const technical = team.filter(item => item.type === ETeamMemberType.technical)
const advisors = team.filter(item => item.type === ETeamMemberType.advisor)
---
<Layout>
  <SEOMeta 
    slot="head"
    title="About Us | Phaeno"
    description="Meet Phaeno's team and mission to map the functional human genome with PSeq, full-length RNA sequencing technology for transcriptomics."
    documentType="Web Page"
    searchTitle="About Us"
  />  
  <main id="main" tabindex="-1">
    <TopPageBanner title="About us" image="image-1" />
    <section>
      <h2 id="phaeno-mission">Our Mission</h2>
      <p>
        Phaeno's mission is to develop technology that empowers scientists to map the functional human genome and gain a
        comprehensive understanding of the underlying drivers of phenotypes.
      </p>
      <h2 id="origin-story">Our Origin Story</h2>
      <p>
        Phaeno cofounders noted fundamental conflicts with the Central Dogma of Molecular Biology evident in molecular
        neurobiological studies as early as 1988. These conflicts became more explicit in a series of
        seminal studies 25 years ago and were largely ignored.
      </p>
      <p>
        We recognized that demonstrating that disparities with the Central Dogma were universal would require new
        technology. This would require profiling, simultaneously, every RNA arising from every gene in a cell or tissue,
        comprehensively, accurately, economically and easily. Only in this way could such a fundamental tenet be
        objectively tested.
      </p>
      <p>
        The failure of genome sequencing to provide a direct map between genotype and phenotype is now not in dispute
        (references).
      </p>
      <p>
        Phaeno's PSeq technology is now capable of detecting the thousands of quanta of genetic information created in
        messenger and functional RNAs, by complex steps in RNA processing. Phaeno NGS phased RNA sequencing (PSeq) can
        now be used to mine the full transcriptome, with applications in both fundamental biology and genomic medicine.
      </p>
      <h2 id="phaeno-team">Our Team</h2>
      <h3 id="phaeno-executive-team">Executive Team</h3>
      <Team members={management} />
      <h3 id="phaeno-technical-team">Technical Team</h3>
      <Team members={technical} />      
      <h3 id="phaeno-bus-dev-team">Business Development Team</h3>
      <Team members={busdev} />
      <h3 id="phaeno-advisors">Advisory Team</h3>
      <Team members={advisors} />
      <br />
    </section>
  </main>
</Layout>
